<div class="card mb-3">
  <div class="card-body">
    <p class="card-text"><%= comment.content %></p>
    <p class="card-text">
      <small class="text-muted">By <%= comment.user.email %></small>
    </p>
  </div>
</div>